.p1
{
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

mat-grid-tile {
    background: white;
    
  }
  .div1{
     height: 600px;
     width: 1000px; 
     padding-left: 500px;
  }