<img src="assets/img/international header1.jpg" alt="University Info" style="width:1950px;height:190px;">
<img src="assets/img/internationalinfo1.jpg" alt="Welcome to THD" style="width:1900px;height:550px;margin-bottom:0px;">


<div class="div1">
<mat-grid-list cols="2" rowHeight="2:1">
   
    <mat-grid-tile><img src="assets/img/1.jpg" alt="University Info" style="width:490px;height:250px;"></mat-grid-tile>
    <mat-grid-tile><img src="assets/img/6.jpg" alt="University Info" style="width:490px;height:250px;"></mat-grid-tile>
    <mat-grid-tile><img src="assets/img/7.jpg" alt="University Info" style="width:490px;height:250px;"></mat-grid-tile>
    <mat-grid-tile><img src="assets/img/5.jpg" alt="University Info" style="width:490px;height:250px;"></mat-grid-tile>
  </mat-grid-list>
</div>

<div>
    <p class="p1">{{'cinter1' | translate}}
        <!-- Since we were established more than 25 years ago, international outreach and open-mindedness have been a key factor at our university.

        We foster an active exchange with almost 200 partner universities worldwide. Every semester we welcome about 150 exchange students from all over the globe. 
        Our university offers ideal conditions to spend an academically enriching ERASMUS+ semester in the heart of Europe. Our English-taught exchange programmes 
        General Business and General Engineering are tailored to meet the academic requirements of undergraduate students. International orientation is firmly embedded 
        in our German-taught courses as well. -->
    </p>
    <p class="p1">{{'cinter2' | translate}}
        <!-- Our faculties welcome international degree-seeking students in all of their study programmes. Nearly 30% of our student population have an international background. 
        With about 100 nationalities represented on our campuses, cross-cultural encounters shape our everyday life. A popular choice among our students is the European 
        Campus Rottal-Inn (ECRI) where all courses are exclusively taught in English.

        Our university is home to the Coordination Office Bavaria-Malaysia (COBM) which is responsible for Malayan scholarship holders studying or planning to study at 
        a Bavarian university. -->
      </p>
      <p class="p1">{{'cinter3' | translate}}
        <!-- DIT students who want to go abroad benefit from a wide range of established mobility programmes: study semesters, internships and summer schools abroad are highly 
        encouraged by all of our faculties. International guest lecturers and researchers as well as cross-border cooperation in workshops and projects add additional 
        value to our curricula.

        Our Language Centre provides our students with the necessary tools to face the challenges of studying or working abroad.

        If you choose the Deggendorf Institute of Technology, you choose the world! -->
        </p>
    </div>

    <img src="assets/img/international1.jpg" alt="Welcome to THD" style="width:1900px;height:900px;">