<img src="assets/img/logooo.jpg" alt="Welcome to THD" style="width:1950px;height:120px;background-size:cover;display:block;">


<mat-toolbar background-color="#1a4273" class= "mat-elevation-z8">
    <a mat-button routerLink="home"> {{'home' | translate}}</a>
    <span id="sp1"></span>
    <a mat-button routerLink="news"> {{'news' | translate}}</a>
    <span id="sp1"></span>
    <a mat-button routerLink="events"> {{'events' | translate}}</a>
    <span id="sp1"></span>
    <a mat-button routerLink="international"> {{'office' | translate}}</a>
    <span id="sp1"></span>
    <!-- <a mat-button routerLink="roomfinder">{{'chat' | translate}}</a>
    <span id="sp1"></span> -->
    <a mat-button routerLink="navigation"> {{'navigation' | translate}}</a>
    <span id="sp1"></span>
    
    <div class="spacer"></div>
    <a mat-button routerLink= "signup"> {{'signup' | translate}}</a>
    <span id="sp1"></span>
    <a mat-button routerLink="login"> {{'login' | translate}}</a>
  </mat-toolbar>

  