<img src="assets/img/events.jpg" alt="University Info" style="width:2000px;height:300px;">

<mat-card class="example-card">
    <mat-card-header>
       <mat-card-title>{{'cevent1' | translate}}</mat-card-title> 
      <mat-card-subtitle>{{'cevent2' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/44.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <b> {{'cevent3' | translate}}</b> <br>
           {{'cevent8' | translate}}<br>
           {{'cevent4' | translate}} <br>
        <br>
        {{'cevent5' | translate}}
        <!-- As part of this virtual information event, we provide an overview of the dual options at THD and present the combined study and study with in-depth practice. 
        The team of Studium dual at the THD and current Dualis also answer your questions about the dual options. This improves the positioning of the municipality in the national and international competition 
        for locations.The team of Studium dual at the THD and current Dualis also answer your questions about the dual options.The team of Studium dual at the THD and current Dualis also answer your questions about 
        the dual options.  -->
        <br> <br>
        <!-- Simply log in at https://th-deg-de.zoom.us/j/93398873915 -->
         {{'cevent6' | translate}}
        <br> 
        <!-- We look forward to your participation and your interest!  -->
        {{'cevent7' | translate}}
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{'cevent9' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'cevent2' | translate}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/77.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <b> {{'cevent10' | translate}}</b>  <br>
        {{'cevent8' | translate}}  <br>
        {{'cevent4' | translate}} <br>
        <br>
        {{'cevent11' | translate}}
        <!-- With the part-time Master’s degree in Public Management, participants acquire the skills to support political leaders in creating structures that lead to 
        less bureaucracy, customer orientation and greater efficiency.  -->
        <br>
        {{'cevent12' | translate}}
        <!-- This improves the positioning of the municipality in the national and international competition 
        for locations. In addition, with the completion of the Masters you will receive the educational requirements for promotion to the higher service.
        The team of Studium dual at the THD and current Dualis also answer your questions about the dual options.The team of Studium dual at the THD and current Dualis also answer your questions 
        about the dual options. -->
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{'cevent13' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'cevent2' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/88.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <b>  {{'cevent14' | translate}}</b>  <br>
        {{'cevent8' | translate}}  <br>
        {{'cevent4' | translate}} <br> <br>
        <br>
        {{'cevent15' | translate}}
        <!-- The course is aimed at graduates in engineering or computer science who want to deepen their specialist knowledge in the field of IT security. 
        Special emphasis is placed on the use of security technologies in the context of Industry 4.0, in critical infrastructures and in autonomous driving. 
        The students are taught in-depth, practical IT security knowledge and its application in relation to Industry 4.0 and automotive development. 
        After completing the part-time master’s degree in Cyber Security, you will have the ability to identify and formulate threats and dangers for individual use cases, 
        to analyze the resulting risk and to independently develop and implement suitable security strategies. The team of Studium dual at the THD and current Dualis also answer 
        your questions about the dual options. -->
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
