
 .example-card {
    max-width: 400px;
    display: inline-block;
    padding-inline-start: 170px;
    padding-top: 50px;
  
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }