<!-- <img src="assets/img/uni info1.jpg" alt="University Info" style="width:2000px;height:200px;"> -->
<img src="assets/img/homepage1.jpg" alt="Welcome to THD" style="width:1920px;height:750px;margin-bottom:0px;">


<div class="div1">
    <p class="p1">{{'cHome1' | translate}} {{'cHome2' | translate}}
      <!-- <p class="p1">{{'cHome2' | translate}} -->
      <!-- Founded in 1994, our multi award-winning university has become the most successful newly founded University of Applied Sciences in Bavaria.
      We believe this is due to our vision which has always been at the forefront of our development strategy: we have continuously developed 
      attractive fields of study supplemented by a range of further education courses, generated intensive research, knowledge and technology transfer to modern economy, 
      followed economic and social trends, and developed a vast regional and international network. -->
    </p>
    <p class="p1">
      <p class="p1">{{'cHome3' | translate}} {{'cHome4' | translate}}
        <!-- <p class="p1"> -->
      <!-- Our total student population is currently almost 8,000 including 30% international students from all over the globe. Our studies are focused on Business, 
      Engineering, Digitisation and Healthcare to undergraduate and postgraduate level in full-time and part-time courses, taught in either English or German. 
      Additionally, we have two completely English undergraduate exchange programmes in the fields of Engineering and Business. All courses meet international quality standards,
      being mostly accredited by ASIIN or FIBBA. Two teaching campus accommodate all students: in addition to the main campus is in Deggendorf,
      the European Campus Rottal-Inn is our relatively small and compact campus, specializing in international bachelor and master degrees in Healthcare and Engineering 
      that are instructed exclusively in English. -->
      </p>
      <p class="p1">{{'cHome5' | translate}} {{'cHome6' | translate}}
        <!-- <p class="p1"> -->
        <!-- The university has a strong social and ecomonic cohesion with the town of Deggendorf and the beautiful surrounding Bavarian Forest national park. 
        The development of the university has evolved the town into a vibrant, international and multicultural hub of young academics intermingled with traditional Bavarian culture.
    
    We have ten unique technology campuses dotted around neighbouring districts in the Bavarian Forest region. In these technology campuses, staff and students work 
    closely together with local and international companies to create specific pioneering solutions for immediate implementation. Companies are supported by the university 
    in  research, development and consulting work and therefore the companies innovate to create new perspectives for young, qualified people. -->
        </p>
    </div>

<img src="assets/img/vission info1.jpg" alt="Vission" style="width:1800px;height:700px;">
<img src="assets/img/ranking1.jpg" alt="Rankings" style="width:1900px;height:700px;">
    